.hero {
    .container {
        background-image: url("../../../img/hero-bg.png");
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: contain;
        max-width: 1440px;
        width: 100%;
        height: 924px;
        position: relative;
        transform: translateY(-80px);
    }
}

.hero__texts {
    position: absolute;
    margin-top: 250px;
    margin-left: 700px;
}

.hero__heading {
    margin: 0;
    padding: 0;
    padding-bottom: 29px;
    max-width: 608px;
    width: 100%;
    color: #333;
    font-family: "Futura PT Light";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.hero__span {
    margin: 0;
    padding: 0;
    padding-bottom: 38px;
    color: #78C0DE;
    font-family: "Futura PT Light";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.hero__text {
    max-width: 510px;
    width: 100%;
    color: #949494;
    font-family: "Futura PT Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.hero__btn {
    margin: 0;
    padding: 0;
    padding: 15px 47px;
    border: none;
    border-radius: 3px;
    background: #333;
    color: #FFF;
    font-family: "Futura PT Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
        color: #333;
        background: #FFBD54;
    }
    
    &:active {
        background: #FFBD;
        transition: all 0.7s ease-in-out;
    }
}

@media (max-width:1390px) {
    .hero__texts {
        margin-left: 600px;
    }
}

@media (max-width:1290px) {
    .hero__texts {
        margin-left: 500px;
    }
}

@media (max-width:1190px) {
    .hero__texts {
        margin-left: 400px;
    }
}

@media (max-width:1090px) {
    .hero__texts {
        margin-left: 300px;
    }
}